In [5]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High Scool",
               "Wilson High Schoool", "Wright High School"]

#iterate through the list and print; use a for loop fx
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High Scool
Wilson High Schoool
Wright High School

In [6]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Hernandez", "Type": "District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

high_school_types

[{'High School': 'Hernandez', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [9]:
#skills drill
for school in high_school_types:
    print(school)

{'High School': 'Hernandez', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [13]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [7]:
high_schools

['Hernandez High School',
 'Figueroa High Scool',
 'Wilson High Schoool',
 'Wright High School']

In [9]:
!pip install pandas

Requirement already satisfied: pandas in /Users/vanessamarie/opt/anaconda3/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/vanessamarie/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/vanessamarie/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/vanessamarie/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in /Users/vanessamarie/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [10]:
# Add the Pandas dependency.
import pandas as pd

In [11]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
print(school_series)

0    Hernandez High School
1      Figueroa High Scool
2      Wilson High Schoool
3       Wright High School
dtype: object

In [13]:
# skills drill:iterate through the series and print out the hs
for index in range(0, len(school_series)):
    print(school_series[index])

Hernandez High School
Figueroa High Scool
Wilson High Schoool
Wright High School

In [14]:
#Pandas DataFrames: 4.3.5
# A dictionary of high schools 
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [15]:
# convert the array (list of dictionaries) to a dataframe 
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [21]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [22]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [ ]:
# Skills drill: Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}